*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: sans-serif;
}

#mainHeading{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

#food1, #food2, #food3{
    position: relative;
    margin-top: 0px;
    width: 150px;
    height: 30px;
    border: 1px solid black;
    float: right;
    text-align: center;

}

#food1{
    background-color: rgb(243, 145, 222);
}

#food2{
    background-color: rgb(90, 2, 2);
    color: white;
}

#food3{
    background-color: rgb(223, 223, 124);
}

#divfood{
    background-color: rgb(156, 155, 155);
    border: 1px solid black;
}

#description{
    padding: 35px 0 10px 10px;
}

#section:after {
    content: "";
    display: table;
    clear: both;
}


.col-lg-4{
    float: left;
    padding: 10px;
}


#footer{
    margin: 265px 0 0 0;
    padding: 30px;
    background-color: rgb(202, 200, 200);
}

@media (min-width: 992px){
    .col-lg-4{
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width:991px){
    .col-md-6{
        width: 50%;
    }
}
